<!DOCTYPE html>
<html lang=""en>
<head>
    <meta charset="UTF-8">
    <title>Pokémon Search</title>
</head>
    
<body>
    <h1>Get a random breaking bad quote</h1>

    <form action="/v1/quotes" method="get"> 
        <!-- <input type="text" name="name" placeholder="type something..." required> -->
        <button type = "submit">Press for random quote</button>
    </form>

    {% if quote %}
        <h2>Result:</h2>
        <p>Quote: {{ quote.quote }}</p>
        <p>Quote: {{ quote.author }}</p>
    {% elif error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>